*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

a {
    text-decoration: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    border-radius: 0;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url(../font/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: 'Urbanist-Regular';
    src: url(../font/Urbanist-Regular.ttf);
}

@font-face {
    font-family: 'Urbanist-Light';
    src: url(../font/Urbanist-Light.ttf);
}

@font-face {
    font-family: 'Urbanist-Medium';
    src: url(../font/Urbanist-Medium.ttf);
}

@font-face {
    font-family: 'Urbanist-SemiBold';
    src: url(../font/Urbanist-SemiBold.ttf);
}

@font-face {
    font-family: 'Urbanist-Bold';
    src: url(../font/Urbanist-Bold.ttf);
}

:root {
    --orange-main: #F28D41;
    --blue-main: #243B53;
    --white: #FFFFFF;
    --grey-white: #F5F5F5;

    --urban-light: 'Urbanist-Light';
    --urban-regular: 'Urbanist-Regular';
    --urban-semiBold: 'Urbanist-SemiBold';
    --urban-medium: 'Urbanist-Medium';
    --urban-bold: 'Urbanist-Bold';
    --montserrat-regular: 'Montserrat-Regular';
    --montserrat-semiBold: 'Montserrat-SemiBold';
}

body {
    background-color: var(--grey-white);
}

.raw-limit-size {
    width: 100%;
    max-width: 360px;
}

.center {
    margin: 0 auto;
}

#map {
    width: 100%;
    height: 280px;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: var(--orange-main);
    position: relative;
    padding: 0 1rem;
    margin-top: 24px;

    span {
        color: var(--blue-main);
        font-size: 0.9rem;
        font-family: var(--urban-medium);
    }

    .links {
        display: flex;
        justify-content: space-between;

        span {
            margin-top: 24px;
        }
    }

    .credit span {
        position: absolute;
        bottom: 0.5rem;
        left: 50%;
        transform: translateX(-50%);
    }
}

.btn {
    width: 100%;
    max-width: 160px;
    height: 40px;
    border-radius: 32px;
    border: none;
}

.btn-orange {
    background-color: var(--orange-main);
    color: var(--white);
    font-family: var(--urban-bold);
    font-size: 1rem;
}

.h1-form {
    font-family: var(--urban-bold);
    font-size: 3rem;
    color: var(--blue-main);
    text-align: center;
    margin-top: 32px;
}

.page-section {
    margin-bottom: 32px;
}

.form {
    margin-top: 16px;

    div {
        display: flex;
        flex-direction: column;
        margin-top: 16px;

        label {
            font-size: 1rem;
            color: var(--blue-main);
            font-family: var(--urban-medium);
        }

        input,
        select {
            width: 100%;
            height: 40px;
            border-radius: 12px;
            border: solid 2px var(--blue-main);
            padding: 0 0.5rem;
            color: var(--blue-main);
            font-size: 1rem;
            font-family: var(--urban-regular);
            margin-top: 8px;
            background-color: var(--grey-white);
        }

    }

    .input-container {
        display: flex;
        justify-content: space-between;
    }


    .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .btn {
            margin-top: 24px;
        }
    }
}

.account-link {
    color: var(--blue-main);
    font-size: 0.9rem;
    font-family: var(--urban-light);
    display: block;
    margin-top: 8px;
}

.header-connected {
    width: 100%;
    height: 80px;
    text-align: center;
    background-color: var(--orange-main);
    line-height: 80px;

    .title-header {
        color: var(--blue-main);
        font-size: 1.5rem;
        font-family: var(--urban-bold);
    }
}

.header-unconnected {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: var(--orange-main);
    line-height: 80px;
    padding: 0 1.2rem;

    .title-header {
        color: var(--blue-main);
        font-size: 1.5rem;
        font-family: var(--urban-bold);
    }

    a {
        font-family: var(--urban-medium);
        color: var(--blue-main);
        font-size: 1rem;
    }
}

.home-unco {
    width: 100%;

    .hero {
        figure {
            width: 100%;
            position: relative;

            img {
                width: 100%;
                display: block;
            }

            &::after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: #00000081;
                top: 0;
                left: 0;
            }

            p {
                position: absolute;
                z-index: 9999;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: var(--white);
                font-size: 32px;
                font-family: var(--urban-bold);
                text-align: center;
                width: 70%;
            }
        }
    }

    .home-unco-content {
        h1 {
            font-size: 1.5rem;
            color: var(--blue-main);
            font-family: var(--urban-bold);
            text-align: center;
            margin-top: 24px;
        }

        h2 {
            font-size: 1.3rem;
            color: var(--blue-main);
            font-family: var(--urban-semiBold);
            text-align: center;
            margin-top: 16px;
        }

        p {
            margin-top: 24px;
            color: var(--blue-main);
            font-size: 1rem;
            font-family: var(--montserrat-regular);
        }

        #map {
            margin-top: 16px;
        }
    }
}

.home-connected {

    .search-activities {
        margin-top: 32px;

        .search-container {
            display: flex;
            justify-content: center;
            gap: 0.5rem;

            input {
                width: 100%;
                max-width: 300px;
                border-radius: 30px;
                border: solid 2px var(--blue-main);
                height: 36px;
                color: var(--blue-main);
                font-size: 1rem;
                font-family: var(--urban-medium);
                padding: 0 0.8rem;
            }

            .search-input {
                color: var(--blue-main);
                height: 36px;
            }
        }

        #map {
            margin-top: 24px;
        }
    }
}