*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

a {
    text-decoration: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    border-radius: 0;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url(../font/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: 'Urbanist-Regular';
    src: url(../font/Urbanist-Regular.ttf);
}

@font-face {
    font-family: 'Urbanist-Light';
    src: url(../font/Urbanist-Light.ttf);
}

@font-face {
    font-family: 'Urbanist-Medium';
    src: url(../font/Urbanist-Medium.ttf);
}

@font-face {
    font-family: 'Urbanist-SemiBold';
    src: url(../font/Urbanist-SemiBold.ttf);
}

@font-face {
    font-family: 'Urbanist-Bold';
    src: url(../font/Urbanist-Bold.ttf);
}

:root {
    --orange-main: #F28D41;
    --orange-hover: #F37C22;
    --blue-main: #243B53;
    --white: #FFFFFF;
    --grey-white: #F5F5F5;
    --light-red: #D44B4B;
    --modal-bg: #00000036;
    --light-gray: rgba(192, 188, 188, 0.822);
    --light-orange: #ffbd8a;
    --light-orange-hover: #ffad6e;
    --light-blue: #3a5068a4;

    --urban-light: 'Urbanist-Light';
    --urban-regular: 'Urbanist-Regular';
    --urban-semiBold: 'Urbanist-SemiBold';
    --urban-medium: 'Urbanist-Medium';
    --urban-bold: 'Urbanist-Bold';
    --montserrat-regular: 'Montserrat-Regular';
    --montserrat-semiBold: 'Montserrat-SemiBold';
}

body {
    background-color: var(--grey-white);
}

section {
    h1 {
        font-size: 1.5rem;
        color: var(--blue-main);
        font-family: var(--urban-bold);
        text-align: center;
        margin-top: 24px;
    }
}

.raw-limit-size {
    width: 100%;
    max-width: 360px;
}

.center {
    margin: 0 auto 100px auto;
}

#map {
    width: 100%;
    height: 280px;
}

.loading-msg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    width: 100%;
    background-color: var(--light-gray);
    margin-top: 16px;

    .loading-message {
        color: var(--blue-main);
        font-size: 1rem;
        font-family: var(--urban-medium);
    }
}

.alert-message {
    color: var(--light-red);
    font-size: 1.2rem;
    font-family: var(--urban-semiBold);
}

.menu-container {
    width: 100%;
    height: 100px;
    background-color: var(--grey-white);
    position: fixed;
    bottom: 0;

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        background-color: var(--orange-main);
        width: 100%;
        max-width: 320px;
        margin: 0.5rem auto;
        padding: 0 1rem;
        border-radius: 12px;

        .link-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: var(--blue-main);

            .menu-icon {
                height: 24px;
                width: 24px;
            }

            span {
                font-size: 0.8rem;
                font-family: var(--urban-regular);
                margin-top: 0.4rem;
            }
        }
    }

}

.footer {
    width: 100%;
    height: 100px;
    background-color: var(--orange-main);
    position: relative;
    padding: 0 1rem;
    margin-top: 24px;

    span {
        color: var(--blue-main);
        font-size: 0.9rem;
        font-family: var(--urban-medium);
    }

    .links {
        display: flex;
        justify-content: space-between;

        span {
            margin-top: 24px;
        }
    }

    .credit span {
        position: absolute;
        bottom: 0.5rem;
        left: 50%;
        transform: translateX(-50%);
    }
}

.btn {
    width: 100%;
    max-width: 160px;
    height: 40px;
    border-radius: 32px;
    border: none;
    margin-top: 24px;

    &:hover {
        cursor: pointer;
    }
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
}

.btn-orange {
    background-color: var(--orange-main);
    color: var(--white);
    font-family: var(--urban-bold);
    font-size: 1rem;
    transition: all ease-in 0.25s;

    &:hover {
        background-color: var(--orange-hover);
    }
}

.logout-btn {
    border: none;
    font-size: 0.9rem;
    background-color: transparent;
    font-family: var(--urban-semiBold);
    color: var(--light-red);
}

.logout-container {
    margin-top: 32px;
}

.signal-btn {
    color: var(--light-red);
    display: flex;
    align-items: end;
    border: none;
    background: none;
    gap: 8px;
    font-size: 0.9rem;
    font-family: var(--montserrat-semiBold);

}

.loader-container {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .loader {
        display: flex;
        gap: 5px;
        align-items: center;

        .bar {
            width: 4px;
            height: 10px;
            background-color: var(--orange-main);
            animation: wave 1s infinite ease-in-out;
            border-radius: 8px;

            &:nth-child(2) {
                animation-delay: .1s;
            }

            &:nth-child(3) {
                animation-delay: .2s;
            }

            &:nth-child(4) {
                animation-delay: .3s;
            }

            &:nth-child(5) {
                animation-delay: .4s;
            }
        }
    }
}

@keyframes wave {

    0%,
    100% {
        height: 10px;
    }

    50% {
        height: 40px;
    }
}


.h1-form {
    font-family: var(--urban-bold);
    font-size: 3rem;
    color: var(--blue-main);
    text-align: center;
    margin-top: 32px;
}

.page-section {
    margin-bottom: 32px;
}

.form {
    margin-top: 16px;

    div {
        display: flex;
        flex-direction: column;
        margin-top: 16px;

        label {
            font-size: 1rem;
            color: var(--blue-main);
            font-family: var(--urban-medium);
        }

        input,
        select {
            width: 100%;
            height: 40px;
            border-radius: 12px;
            border: solid 2px var(--blue-main);
            padding: 0 0.5rem;
            color: var(--blue-main);
            font-size: 1rem;
            font-family: var(--urban-regular);
            margin-top: 8px;
            background-color: var(--grey-white);
        }

    }

    .input-container {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        color: var(--blue-main);
        font-size: 1rem;
        color: var(--blue-main);
        font-family: var(--urban-medium);
    }

    p {
        color: var(--blue-main);
        font-family: var(--urban-medium);
        font-size: 1rem;
    }

    textarea {
        margin-top: 8px;
        height: 80px;
        color: var(--blue-main);
        font-family: var(--urban-medium);
        padding: 0.4rem;
    }

}

.account-link {
    color: var(--blue-main);
    font-size: 0.9rem;
    font-family: var(--urban-light);
    display: block;
    margin-top: 8px;
}

.header-connected {
    width: 100%;
    height: 80px;
    text-align: center;
    background-color: var(--orange-main);
    line-height: 80px;

    .title-header {
        color: var(--blue-main);
        font-size: 1.5rem;
        font-family: var(--urban-bold);
    }
}

.header-unconnected {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: var(--orange-main);
    line-height: 80px;
    padding: 0 1.2rem;

    .title-header {
        color: var(--blue-main);
        font-size: 1.5rem;
        font-family: var(--urban-bold);
    }

    a {
        font-family: var(--urban-medium);
        color: var(--blue-main);
        font-size: 1rem;
    }
}

input[type="range"] {
    accent-color: var(--blue-main);
}

input[type="checkbox"] {
    &:checked {
        accent-color: var(--blue-main);
    }
}

.home-unco {
    width: 100%;

    .hero {
        figure {
            width: 100%;
            position: relative;

            img {
                width: 100%;
                display: block;
            }

            &::after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: #00000081;
                top: 0;
                left: 0;
            }

            p {
                position: absolute;
                z-index: 9999;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: var(--white);
                font-size: 32px;
                font-family: var(--urban-bold);
                text-align: center;
                width: 70%;
            }
        }
    }

    .home-unco-content {
        h1 {
            font-size: 1.5rem;
            color: var(--blue-main);
            font-family: var(--urban-bold);
            text-align: center;
            margin-top: 24px;
        }

        h2 {
            font-size: 1.3rem;
            color: var(--blue-main);
            font-family: var(--urban-semiBold);
            text-align: center;
            margin-top: 16px;
        }

        p {
            margin-top: 24px;
            color: var(--blue-main);
            font-size: 1rem;
            font-family: var(--montserrat-regular);
        }

        #map {
            margin-top: 16px;
        }
    }
}

.home-connected {

    .search-activities {
        margin-top: 32px;

        .search-container {
            display: flex;
            justify-content: center;
            gap: 0.5rem;

            input {
                width: 100%;
                max-width: 300px;
                border-radius: 30px;
                border: solid 2px var(--blue-main);
                height: 36px;
                color: var(--blue-main);
                font-size: 1rem;
                font-family: var(--urban-medium);
                padding: 0 0.8rem;
            }

            .search-input {
                color: var(--blue-main);
                height: 36px;
            }
        }

        #map {
            margin-top: 24px;
        }

        .map-result {
            color: var(--blue-main);
            font-family: var(--urban-light);
            font-size: 0.9rem;
            margin-top: 8px;
        }
    }

    .home-activities {
        margin-top: 24px;

        h2 {
            font-size: 1.5rem;
            color: var(--blue-main);
            font-family: var(--urban-bold);
        }
    }
}

.km {
    color: var(--blue-main);
    font-size: 0.8rem;
    font-family: var(--urban-light);
}

.value,
.value-desc {
    color: var(--blue-main);
    font-size: 1rem;
    font-family: var(--urban-regular);
}

.value {
    text-align: right;
    width: 300px;
}

.profil {
    margin-top: 32px;

    h2 {
        font-size: 1.2rem;
        font-family: var(--urban-bold);
        color: var(--blue-main);
        margin-top: 24px;
    }

    .profil-top {
        h1 {
            color: var(--blue-main);
            font-family: var(--urban-bold);
            font-size: 1.5rem;
            text-align: center;
        }

        figure {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

.profil-content,
.activity-page {

    div {
        margin-top: 16px;
    }

    .flex-col {
        display: flex;
        flex-direction: column;
    }

    .flex-between {
        display: flex;
        justify-content: space-between;
    }

    .title {
        font-size: 1rem;
        font-family: var(--urban-medium);
        color: var(--blue-main);
        max-width: 280px;
    }

    input[type="range"] {
        width: 100%;
        max-width: 280px;
    }

    textarea {
        height: 80px;
        margin-top: 8px;
        font-size: 1rem;
        color: var(--blue-main);
        font-family: var(--urban-regular);
        padding: .5rem;
    }

    p {
        margin-top: 8px;
    }

}

.verif-mail {
    margin-top: 32px;

    h1 {
        color: var(--blue-main);
        font-family: var(--urban-bold);
        font-size: 1.5rem;
        text-align: center;
    }

    p {
        color: var(--blue-main);
        margin-top: 16px;
        font-size: 1rem;
        font-family: var(--montserrat-regular);
    }
}

.verify-user {
    margin-top: 32px;

    h1 {
        font-size: 1.5rem;
        color: var(--blue-main);
        font-family: var(--urban-bold);
        text-align: center;
    }

    p {
        color: var(--blue-main);
        font-size: 1rem;
        font-family: var(--urban-medium);
        margin-top: 16px;
        text-align: center;
    }

    .btn-container {
        margin-top: 16px;

        a {
            color: var(--blue-main);
            font-size: 1.2rem;
            font-family: var(--urban-medium);
        }
    }
}

.modal-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: var(--modal-bg);
    z-index: 999999;

    .modal,
    .modal-info {
        width: 100%;
        max-width: 360px;
        height: auto;
        max-height: 380px;
        overflow-y: scroll;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--grey-white);
        border-radius: 12px;
    }

    .modal-info {
        padding: 32px 0;

        h1 {
            font-size: 2rem;
            text-align: center;
            font-family: var(--urban-bold);
            color: var(--orange-main);
            margin-top: 16px;
        }

        p {
            color: var(--blue-main);
            text-align: center;
            font-size: 1.4rem;
            font-family: var(--urban-bold);
            margin-top: 16px;
        }
    }

    .modal {

        .x-icon {
            position: absolute;
            top: .3rem;
            right: .3rem;
            color: var(--blue-main);
            width: 20px;
        }

        h1 {
            color: var(--orange-main);
            font-size: 1.5rem;
            font-family: var(--urban-bold);
            text-align: center;
            margin: 1rem 0;
        }

        .info-container {
            text-align: center;

            h2 {
                color: var(--blue-main);
                font-size: 1.2rem;
                font-family: var(--urban-semiBold);
            }

            p {
                color: var(--blue-main);
                font-family: var(--urban-regular);
                font-size: 1rem;
                margin-top: 8px;
            }
        }

        a {
            color: var(--blue-main);
            text-align: center;
            font-size: 1rem;
            margin-top: 8px;
            font-family: var(--urban-medium);
        }
    }
}

.activity-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;

    .activity-list {
        border: solid 2px var(--blue-main);
        border-radius: 20px;
        width: 100%;
        max-width: 320px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;

        .title {
            font-family: var(--urban-semiBold);
            color: var(--blue-main);
            font-size: 1.2rem;
            margin-bottom: 8px;
        }

        p,
        span {
            color: var(--blue-main);
            font-size: 1rem;
            font-family: var(--urban-regular);
        }

        span {
            width: 80px;
            text-align: right;
        }

        .flex {
            display: flex;
            justify-content: space-between;
            align-items: center;

            div {
                text-align: left;
                width: 200px;
            }
        }
    }
}

.future-activities-container {
    margin-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .future-activity {
        width: 100%;
        max-width: 360px;
        height: 100px;
        background-color: var(--light-orange);
        border-radius: 12px;
        color: var(--blue-main);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
        padding: 0 0.8rem;
        transition: background-color ease-in .25s;
        cursor: pointer;

        .title {
            font-size: 1.2rem;
            font-family: var(--urban-bold);
        }

        .date {
            font-size: 1.2rem;
            font-family: var(--urban-regular);
        }

        .desc,
        .players,
        .location {
            font-size: 1rem;
            font-family: var(--urban-medium);
        }

        .hours {
            font-size: 1rem;
            font-family: var(--urban-semiBold);
        }

        &:hover {
            background-color: var(--light-orange-hover);
        }
    }

    .no-activity-msg {
        font-size: 1.2rem;
        color: var(--blue-main);
        font-family: var(--urban-regular);
        text-align: center;
        padding: 16px 0;
    }
}

.group-chat-container {
    width: 100%;
    max-width: 380px;
    color: var(--blue-main);
    margin-top: 16px;

    .group-chat {
        width: 100%;
        height: 75px;
        border-bottom: solid 1px var(--light-blue);

        &:nth-child(1) {
            border-top: solid 1px var(--light-blue);
        }

        .group-chat-content {
            display: flex;
            align-items: start;
            gap: 16px;
            padding: 0.8rem;

            .message-container {
                display: flex;
                flex-direction: column;
                gap: 8px;
                width: 100%;

                .activity-name {
                    font-family: var(--urban-bold);
                    font-size: 1rem;
                }

                .message-content {
                    font-size: 0.9rem;
                    font-family: var(--urban-regular);

                    span {
                        font-family: var(--urban-semiBold);
                    }

                }
            }
        }
    }
}

.group-chat-pp {
    width: 100%;
    max-width: 48px;

    .background {
        width: 48px;
        height: 48px;
        background-color: var(--orange-main);
        border-radius: 50%;
        position: relative;

        .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--blue-main);
        }
    }
}

.group-chat-page {

    .group-chat-header {
        height: 80px;
        display: flex;
        align-items: center;
        gap: 16px;
        color: var(--blue-main);
        border-bottom: solid 1px var(--light-blue);
        position: fixed;
        width: 100%;
        background-color: var(--grey-white);
        max-width: 360px;
        top: 0;
        

        .content {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 8px;

            .activity-name {
                font-size: 1rem;
                font-family: var(--urban-bold);
            }

            .activity-users {
                font-family: var(--urban-light);
                font-size: 0.8rem;
            }

            .icon-container {
                cursor: pointer;
            }
        }

    }

    .send-msg-container {
        border-top: solid 1px var(--light-blue);
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 380px;
        min-height: 60px;
        max-height: fit-content;
        padding-bottom: 1rem;
        background-color: var(--grey-white);

        .input-container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            margin-top: 8px;

            button {
                color: var(--blue-main);
                height: 32px;
                border: solid 1px var(--blue-main);
                border-radius: 8px;
                background-color: var(--orange-main);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.textarea-msg {
    width: 100%;
    max-width: 280px;
    height: 32px;
    max-height: 120px;
    border-radius: 8px;
    color: var(--blue-main);
    font-size: 1rem;
    font-family: var(--urban-medium);
    padding: 0.3rem;
    resize: none;
    overflow-y: auto;

}

.msg-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: scroll;
    margin-top: 88px;
    flex-grow: 1;

    .bubble {
        color: var(--blue-main);
        font-size: 1rem;
        font-family: var(--urban-regular);
        padding: 0.5rem;
        border-radius: 12px;
        word-wrap: break-word;
        word-break: break-word;
    }

    .infos {
        color: var(--blue-main);
        font-size: 0.8rem;
        font-family: var(--urban-light);
        margin-top: 4px;
        width: fit-content;
    }

    .my-message {
        align-self: flex-end;
        max-width: 70%;

        .bubble {
            background-color: var(--orange-main);
        }
    }


    .others-message {
        align-self: flex-start;
        max-width: 70%;

        .bubble {
            background-color: #FFF;
        }
    }

}